/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   ANIMATEDDIGIT DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-grid;
    place-items: center;

    width: 1ch;
    height: 1em;

    overflow: hidden;
    position: relative;
    contain: layout paint;
}

/* ====================================
   ANIMATEDDIGIT DIGIT GLYPH STYLE.
======================================= */
.digit
{
    position: absolute;

    display: inline-block;
    font: inherit;
    line-height: 1;
    text-align: center;

    backface-visibility: hidden;
    transform: translateZ(0);
    will-change: transform, opacity;
}
