/* Filename: AnimatedDigit.module.css */

/* ====================================
   DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 1ch;
    overflow: hidden;
}

/* ====================================
   DIGIT CHARACTER STYLE.
======================================= */
.digit
{
    display: inline-block;

    font-family: inherit; /* inherit from parent time. */
    font-size: inherit; /* inherit from parent time. */
    font-weight: inherit;
    line-height: 1;
    text-align: center;

    will-change: transform, opacity;
}

/* ====================================
   LIGHT THEME OVERRIDES STYLE.
======================================= */
html.light .digit
{
    color: #3a2c00;
    text-shadow: 0 0 6px rgba(234, 179, 8, 0.2);
}
