/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-grid;
    place-items: center;

    inline-size: 1.05ch;
    block-size: 1em;

    position: relative;
    overflow: hidden;

    vertical-align: middle;
    isolation: isolate;
}

/* ====================================
   DIGIT CHARACTER GLYPH STYLE.
======================================= */
.digit
{
    display: inline-block;

    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;
    text-align: center;

    font-variant-numeric: tabular-nums lining-nums;
    font-feature-settings: "tnum", "lnum";

    transform-origin: 50% 58%;
    backface-visibility: hidden;

    will-change: transform, opacity;
}
