/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-grid;
    place-items: center;

    inline-size: 1ch;
    block-size: 1em;

    position: relative;
    overflow: hidden;

    vertical-align: middle;
    isolation: isolate;
}

/* ====================================
   DIGIT CHARACTER GLYPH STYLE.
======================================= */
.digit
{
    display: inline-block;

    font: inherit;
    line-height: 1;
    text-align: center;

    transform-origin: 50% 52%;
    backface-visibility: hidden;

    will-change: transform, opacity;
}
