/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-grid;
    place-items: center;

    width: 1ch;
    height: 1em;

    position: relative;
    overflow: hidden;

    vertical-align: baseline;
}

/* ====================================
   DIGIT CHARACTER STYLE.
======================================= */
.digit
{
    display: inline-block;

    font-family: inherit; /* inherit from parent time. */
    font-size: inherit; /* inherit from parent time. */
    font-weight: inherit;
    line-height: 1;
    text-align: center;

    font-variant-numeric: tabular-nums lining-nums;
    transform-origin: 50% 55%;

    will-change: transform, opacity;
}

/* ====================================
   LIGHT THEME OVERRIDES STYLE.
======================================= */
html.light .digit
{
    color: #2a2300;
    text-shadow: 0 0 1px rgba(234, 179, 8, 0.1);
}
