/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   ANIMATEDDIGIT DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-grid;
    place-items: center;

    inline-size: 1ch;
    block-size: 1em;

    overflow: hidden;
    position: relative;
}

/* ====================================
   ANIMATEDDIGIT DIGIT GLYPH STYLE.
======================================= */
.digit
{
    display: inline-block;

    font: inherit;
    line-height: 1;
    text-align: center;

    backface-visibility: hidden;
    will-change: transform, opacity;
}
