/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-flex;
    align-items: center;
    justify-content: center;

    width: 1ch;
    min-width: 1ch;

    overflow: hidden;
    position: relative;
    vertical-align: middle;
}

/* ====================================
   DIGIT CHARACTER STYLE.
======================================= */
.digit
{
    display: inline-block;

    font-family: inherit; /* inherit from parent time. */
    font-size: inherit; /* inherit from parent time. */
    font-weight: inherit;
    line-height: 1;

    text-align: center;
    font-variant-numeric: tabular-nums;
    font-feature-settings: "tnum";

    transform-origin: 50% 55%;
    will-change: transform, opacity;
}

/* ====================================
   LIGHT THEME OVERRIDES STYLE.
======================================= */
html.light .digit
{
    color: #2f2600;
    text-shadow: 0 0 2px rgba(234, 179, 8, 0.12);
}
