/* Filename: src/components/AnimatedDigit/AnimatedDigit.module.css */

/* ====================================
   DIGIT CONTAINER STYLE.
======================================= */
.container
{
    display: inline-grid;
    place-items: center;

    inline-size: 1ch;
    block-size: 1.25em;

    position: relative;
    overflow: hidden;

    vertical-align: middle;
    isolation: isolate;
}

/* ====================================
   DIGIT CHARACTER STYLE.
======================================= */
.digit
{
    display: inline-block;

    font-family: inherit; /* inherit from parent time. */
    font-size: inherit; /* inherit from parent time. */
    font-weight: inherit;
    line-height: 1;
    text-align: center;

    font-variant-numeric: tabular-nums lining-nums;
    transform-origin: 50% 58%;

    will-change: transform, opacity;
}

/* ====================================
   LIGHT THEME OVERRIDES STYLE.
======================================= */
html.light .digit
{
    color: color-mix(in oklab, currentColor, #2a2300 28%);
}
