/* Filename: src/App.css */

/* ====================================
   APP LAYOUT STYLES.
======================================= */
.app
{
    min-height: 100svh;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: clamp(1.75rem, 4vw, 3rem);
}
