/* Filename: src/App.css */

/* ====================================
   APP LAYOUT STYLES.
======================================= */
.app
{
    min-height: 100svh;

    display: grid
    place-items: center;

    padding: clamp(2rem, 6vw, 5rem);
    isolation: isolate;
}
