/* Filename: src/App.css */

/* ====================================
   APP LAYOUT STYLES.
======================================= */
.app
{
    min-height: 100svh;

    display: grid;
    place-items: center;

    padding: clamp(2rem, 5vw, 4rem);
    isolation: isolate;
}

/* Constrain Inner Content Styles. */
.app > * { width: 100%; max-width: 720px; }
