/* Filename: src/index.css */

/* ====================================
   BASE RESET STYLES.
======================================= */
*, *::before, *::after { box-sizing: border-box; }

html, body, #root
{
    height: 100%;
    margin: 0;
}

body
{
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    font-size: 16px;
    line-height: 1.5;

    font-variant-numeric: tabular-nums lining-nums;
    font-feature-settings: "tnum" 1;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background: transparent;
    color-scheme: light dark;
    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
}
h1,h2,h3,h4,h5,h6 { margin: 0; font-weight: 600; }
button { font: inherit; }

/* ====================================
   REDUCED MOTION MEDIA QUERY STYLES.
======================================= */
/*@media (prefers-reduced-motion: reduce)
{
    *, *::before, *::after
    {
        animation: none !important;
        transition: none !important;
    }
}*/
