/* Filename: src/index.css */

*, *::before, *::after { box-sizing: border-box; }

html, body, #root
{
    height: 100%;
    font-family: "Inter", system-ui, -apple-system, sans-serif;
    font-size: 16px;
    line-height: 1.45;

    text-rendering: optimizeLegibility;
    font-variant-numeric: tabular-nums lining-nums;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body,
#root { min-height: 100%; margin: 0; padding: 0; }

body { overscroll-behavior: none; touch-action: manipulation; }

@media (prefers-reduced-motion: reduce)
{
    *, *::before, *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
    }
}
