/* Filename: src/index.css */

html, body, #root
{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    font-family: "Inter", system-ui, -apple-system, sans-serif;
    font-size: 16px;
    line-height: 1.6;

    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
